<div class="contenedor">
  <div class="img">
    <img src="/sobre-nosotros/batman-home.png" alt="" class="batman">
  </div>
  <div class="body">
    <h3 class="text-center">¡Bienvenidos a Big Bang Comics!</h3>
    <p>
      Esta página, o una que se parezca, es el resultado de mi proyecto final para el FP de DAW. La idea era hacer una versión mejorada unos meses después, con Angular y un poco más de experiencia. Aunque el resultado puede que... Al menos el esfuerzo fue sincero.
    </p>
    <p>
      La información sobre algunos cómics proviene de diversas tiendas de cómics, y en otros casos, le pedí a ChatGPT que la generara. Me prometió seguir el lore de la historia, pero nunca se sabe... Así que si encuentras alguna discrepancia en las descripciones, precios o número de páginas, la culpa es enteramente de mi asistente virtual.
    </p>
    <p>
      Y por último, si esta página ha captado tu interés, puedes adquirir cualquier cómic a través del carrito. ¡Hay oferta, así que no dudes en aprovecharla!
    </p>
  </div>
  <div class="img">
    <img class="joker" src="/sobre-nosotros/joker-home.png" alt="">
  </div>
</div>
